roiextractors
neo
ndx-facemap-motionsvd@git+https://github.com/catalystneuro/ndx-facemap-motionsvd.git@main
spikeinterface
ndx-events@git+https://github.com/rly/ndx-events.git@main
sonpy
opencv-python
